/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: netflix-sans-regular;
    src: url(resources/font/NetflixSans-Regular.woff2);
}

body{
    overflow-x: hidden;

}

*{
    margin:0;
    padding:0;
}


.top-container{
    background-image:radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(resources/images/background.jpg);
    height:97vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    display:flex;
    height: 10vh;
    align-items: center;
    justify-content:space-between;
    padding: 1vw 2vw 0 2vw;

}

.logo{
    width:14vw;
    color:#e50914;
}

.Sign-in-btn{
    background-color:#e50914;
    color:white;
    padding: 0.8vw 1.5vw;
    border-radius: 5px;
    border-style:none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 1em;
    margin-right:2vw;
}
.Sign-in-btn:hover{
    background-color: #ff0b18;
}

.middle-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 80%;
}


.text{
    color:white;
    text-align: center;
    width:80vw;
}

h1{
    font-size:3.5em;
    font-family: netflix-sans-regular;
    font-weight:bolder;
    line-height:5vw;
}


h2{
    font-size:1.5em;
    font-family:Arial, Helvetica, sans-serif;
    
}

.head-h2{
    margin-bottom:30px;
}


.p{
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.text-part{
    width:45%;
}

.email-container{
    display:flex;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    font-family:'Ubuntu', sans-serif;
    
}

.main-email{
    border:none;
    outline:none;
    padding:25px 20px;
    width:32vw;
    font-size: 1em;
    height:1.2vw;
    border-radius: 2px;
}

.get-started{
    background-color: #e50914;
    color:white;
    cursor: pointer;
    padding:1.2vw 2vw;
    font-size: 1.7em;
    text-align: center;
}

.get-started:hover{
    background-color: #ff0b18;
}

hr{
    height:7px;
    border:none;
    background: #262626;
}

.middle-container{

    background-color:black;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10vh 10vw;
    
}
    

.h1{
    line-height: 1em;
    margin-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
}

.h2{
    font-family:Arial,sans-serif;
    font-size:1.5em;
}

.img{
    height:50vh;
}

.first{
    height:40vh;
    padding:10vh 10vw;
}

.second{
    padding:10vh 30vh;
}

.third{
    height:45vh;
    padding: 10vh 30vh;
}

.zero{
    
}

.bottom-container{
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.que{
    background-color:  #262626;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width:45vw;
    padding:10px 36px;
    margin:7px 0;
    border-radius: 4px;
    cursor: pointer;
}

.last-heading{
    padding:40px 0 30px 0;
    font-size: 3em;
}

.bottom-p{
    padding:40px 0 20px 0;
    font-size: 1.3em;
}

.bottom{
    margin-bottom:80px;
}

.footer{
    color:#666666;
    background-color: black;
    display:flex;
    flex-direction: column;
    padding:10vh 1vw;


}

.footer-h2{
    margin-left:20vw;
    margin-bottom:20px;
    font-size: 20px;
}

.card-holder{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:50vw;
    font-size: 15px;
    line-height: 35px;
    margin-left:20vw;
}

.footer-btn{
    width:130px;
    height: 50px;
    margin-left:310px;
    margin-top:40px;
    color:#666666;
    background-color:black;
    border-radius: 3px;
    border-style:solid;
    border-width:0.5px;
    border-color:#666666;
    font-size: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.globe{
    margin:0 15px;
    
}

.footer-btn:hover{
    background-color:#262626;
}





/* making web page responsive */

@media only screen and (max-width:750px){

    .logo{
        width:100px;
    }

    .Sign-in-btn{
        padding:7px 15px;
        font-size:10px;
    }

    h1{
        font-size:1.7em;
        line-height:30px;
        margin-bottom:10px;
    }
    h2{
        font-size:1em;
    }

    .p{
        font-size:1em;
    }

    .h1{
        margin:20px;
    }
    .h2{
        font-size:1em;
        margin-left:20px;
    }

    .email-container{
        flex-direction: column;
        width: 80%;
    }

    .main-email{
        width:70%;
        padding:15px 20px;
        margin-bottom:15px;
    }

    .get-started{
        padding:8px 6px;
        border-radius: 3px;
        font-size: 12px;
    }

    .middle-container{
        flex-direction: column;
        justify-content:center;
        height: auto;
    }

    .text-part{
        width:90%;
    }
    .img{
        height: 200px;
    }
    .tv1{
        margin-top:40px;
    }

    .first{
        padding:50px 20px;
    }
    .one{
        padding-bottom:40px
    }
    .second{
        padding:50px 0;
    }

    .two{
        margin-top:30px;
    }
    .third{
        padding:0;
    }
    .three{
        padding-top:40px;
    }

    .children{
        margin-bottom:40px;
    }

    .last-heading{
        padding:40px 0 30px 70px;
        font-size:2em;
    }

    .footer-btn{
        margin-left: 33%;
    }

    .bottom-p{
        padding:40px 15px 20px 15px;
    }

    .que{
        width:65%;
    }

    .que img{
        height:25px;
    }

    .footer{
        padding:30px 0;
    }
    .footer-h2{
        margin-left: 35px;
    }
    .card-holder{
        margin-left:40px;
    }
    .card{
        padding:0 7px;
    }
}